{% extends 'base.html.twig' %}

{% block title %}Infos cryptos{% endblock %}

{% block body %}
    <main class=''>
        <section class="flex grid grid-3">
            
                <div class="text-xl"> Liste des produits de la categories {{ category.name }} </div>
                
                {% for product in category.products %}
                    {{product.name}}
                {% endfor %}
        </section>
    </main>
{% endblock %}
