{% extends 'base.html.twig' %}

{% block title %}Infos cryptos{% endblock %}

{% block body %}
    <main class='container'>
        <section class="grid">
            <div class="grid-3">
                <div class="text-xl"> Liste des produits de la categories {{ category.name }} </div>
            </div>
        </section>
    </main>
{% endblock %}
