{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="relative bg-white">
            <div class="lg:absolute lg:inset-0">
              <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
                <img class="h-90 w-full object-cover lg:absolute lg:h-full" src="/img/bitcoin.jpeg" alt="photo d'un bitcoin">
              </div>
            </div>
            <div class="relative px-4 pt-12 pb-16 sm:px-6 sm:pt-16 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:px-0">
              <div class="lg:col-start-2 lg:pl-8">
                <div class="mx-auto max-w-prose text-base lg:ml-auto lg:mr-0 lg:max-w-lg">
                  <h3 class=" pb-5 mt-2 text-3xl text-center font-bold  text-violet-600 sm:text-4xl">Qu'est-ce qu'une blockchain ?</h3>
                  <p class="text-xl">Les blockchains permettent de stocker et d’échanger de la valeur sur internet sans 
                intermédiaire centralisé (définition de Blockchain France).<br/> Elles sont le moteur technologique
                des cryptomonnaies, du Web Décentralisé et de son corollaire, la finance décentralisée.
                Une blockchain constitue une base de données qui contient l’historique de tous les échanges 
                effectués entre ses utilisateurs depuis sa création. Cette base de données est sécurisée et distribuée :
                elle est partagée par ses différents utilisateurs, sans intermédiaire, ce qui permet à chacun de vérifier la validité de la chaîne.<br/>
                Une blockchain peut donc être assimilée à un grand livre comptable public, anonyme et infalsifiable. 
                Comme l’écrit le mathématicien Jean-Paul Delahaye, il faut s’imaginer « un très grand cahier, que tout le monde peut lire librement 
                et gratuitement, sur lequel tout le monde peut écrire, mais qui est impossible à effacer et indestructible. » <br/></p>
                <p class="text-center text-2xl text-violet-600 py-5">Situer la blockchain</p>
                <p class="text-xl">La première blockchain est apparue en 2008 avec la monnaie numérique bitcoin, développée par un inconnu se présentant sous le pseudonyme Satoshi Nakamoto.<br/>
                Elle en est l’architecture sous-jacente.
                Si blockchain et Bitcoin ont été construits ensemble, il existe aujourd’hui de nombreuses blockchains et cryptomonnaies associées.
                Certaines entreprises envisagent parfois la création de blockchains dites « privées », dont l’accès et l’utilisation sont limités à un certain nombre d’acteurs.<br/>
                Cela permet d’expérimenter en interne mais avec des limites en termes d’innovation (écosystème restreint) et de ROI (coût de l’infrastructure à mettre en place).</p>
                <p class="text-center text-2xl text-lg text-violet-600 py-5">Comment ça marche ?</p>
                <p class="text-xl">Toute blockchain publique fonctionne nécessairement avec une monnaie ou un token (jeton) programmable. Bitcoin est un exemple de monnaie programmable.<br/>
                Les transactions effectuées entre les utilisateurs du réseau sont regroupées par blocs. Chaque bloc est validé par les noeuds du réseau appelés les “mineurs”, 
                selon des techniques qui dépendent du type de blockchain.<br/> Dans la blockchain Bitcoin cette technique est appelée le “Proof-of-Work”, preuve de travail, et consiste en la résolution de problèmes algorithmiques.<br/>
                Une fois le bloc validé, il est horodaté et ajouté à la chaîne de blocs. La transaction est alors visible pour le récepteur ainsi que l’ensemble du réseau.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section>
      <div class="relative bg-white">
        <div class="lg:absolute lg:inset-0">
          <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img class="h-90 w-full object-cover lg:absolute lg:h-full" src="/img/ssss.jpeg" alt="photo d'un bitcoin">
          </div>
        </div>
        <div class="relative px-4 pt-12 pb-16 sm:px-6 sm:pt-16 lg:mx-auto lg:grid lg:max-w-10xl lg:grid-cols-3 lg:px-15">
          <div class="lg:col-start lg:pl-8">
            <div class="mx-auto max-w-prose text-base lg:ml-auto lg:mr-0 lg:max-w-lg">
              <h3 class=" text-center pb-5 mt-2 text-3xl font-bold text-violet-600 sm:text-4xl">Qu'est-ce qu'un smart contract ?</h3>
              <p class="text-xl">Le smart contract est par définition un programme automatisé ou littéralement 
              un “contrat intelligent”. Ces contrats ou programmes sont des protocoles informatiques 
              qui visent à automatiser une action lorsque les conditions pré-requises sont remplies. <br/>
              L’objectif du smart contract est de permettre d’exécuter toutes types de transactions, financières mais pas seulement.
              Ces contrats intelligents sont issues de la blockchain et sont déjà présents dans celle-ci ainsi que dans les cryptomonnaies.<br/>
              Ce sont d’ailleurs ces programmes autonomes qui rendent possibles les transactions de cryptomonnaies au sein de la blockchain.<br/>
              En pratique, un smart contract exécute automatiquement des conditions prédéfinies et inscrites dans une blockchain. 
              Seul le code informatique décide de l’exécution totale ou partielle d’un contrat. C’est cette spécificité qui rend ces protocoles “intelligents”.
              L’ensemble de ces fonctionnalités sont assurées par le caractère informatisé des smarts contracts.<br/> 
              Ainsi, lorsque les conditions pré-établies seront remplies, alors le contrat prendra forme et chaque contractant sera débiteur de son obligation.
              En comparaison avec son homologue traditionnel, le Smart Contrat en plus de définir les règles d’un accord entre plusieurs parties, 
              fige les règles de celui-ci dans la blockchain en assurant le transfert d’un actif lorsque les conditions contractuelles se vérifient. 
              L’ensemble du processus de contractualisation est donc automatisé, de la rédaction à la fin du contrat, assurant une “notarisation” du processus contractuel.</p>
            <p class="text-center text-2xl text-violet-600 py-5">L’avenir des smart contracts dans les relations contractuelles</p>
            <p class="text-xl">Ces contrats pourraient révolutionner les relations contractuelles dans la mesure où le caractère automatique de celui-ci pourrait entraîner l’annulation du contrat ou la suspension du 
            paiement en cas de rupture des termes du contrat ou d’inexécution totale ou partielle d’une obligation.<br/> Le remboursement automatique fait également parti des possibilités offertes par 
            les contrats intelligents.
            Le but de ces contrats est de faciliter les transactions entre des acteurs qui ne se connaissent pas, de garantir que chaque cocontractant tiendra ses engagements et d’éviter toute falsification.<br/> 
            En d’autres mots, ils permettraient de réduire les délais de paiements ainsi que les risques d’erreurs mais aussi d’éviter d’éventuelles frictions liées aux termes du contrat et aux obligations mutuelles.<br/>
            D’un point de vue juridique, cette technologie permettrait de soulager la justice de tous les contentieux liés à des contrats répondant aux même critères que les smart contract.<br/>
            Le caractère sécurisé et intelligent de ces protocoles ne laisserait alors plus de place pour les hésitations ou interprétations, les contrats devant être exécutés dans les termes définies et acceptés, 
            sans possibilité de contourner le système.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
<script>
      const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
</script>
{% endblock %}
