{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
  <div class="h-screen flex flex-col items-center justify-center">
        <h1 class="text-gray-500 text-3xl mb-4">Hello world</h1>
        <button class="px-4 py-2 bg-blue-500  text-white rounded">
            Click here
        </button>
    </div>
    <div class="text-3xl text-center text-violet-800"> le monde </div>
{% endblock %}
